logbook/logbook.synctex.gz
logbook/logbook.aux
logbook/logbook.bbl
logbook/logbook.blg
logbook/logbook.fdb_latexmk
logbook/logbook.fls
logbook/logbook.log
logbook/logbook.out
logbook/logbook.toc
.DS_Store
replication_packages/Lind_Ramondo_AER_2023/LICENSE.txt
replication_packages/Lind_Ramondo_AER_2023/data/*
replication_packages/Lind_Ramondo_AER_2023/results/*
literature/*.pdf
